{% extends "base.html" %}
{% block content %}
<h2>Payouts - Nuevo</h2>
<article>
    <form action="/payouts/" method="post">
        {% if max_amount is not none %}
        <span>Límite: MXN {{max_amount}}. Valores superiores serán reemplazados por MXN {{max_amount}}</span>
        {% endif %}
        <label for="amount">
            Monto:
            <input type="hidden" name="currency" value="MXN">
            <input class="currency" type="text" name="amount" value="$ {{ payout.amount if payout else '5.000' }}" required>
        </label>
        <label for="description">
            Descripción:
            <input type="text" name="description" value="{{ payout.description if payout else 'Transferencia de prueba' }}"  required>
        </label>        
        <label for="name">
            Nombre Destinatario:
            <input type="text" name="name" value="{{ payout.destination_name if payout else 'Juan Perez'}}" required>
        </label>        
        <label for="id">
            ID Destinatario:
            <input type="text" class="id" name="id" value="{{ payout.destination_rut if payout else 'ABC1234567890'}}" required>
            <input type="hidden" name="id_schema" value="MXRFC">
        </label>
        <label for="email">
            Email Destinatario:
            <input type="email" name="email" value="{{ payout.destination_email if payout else 'juan@perez.mx'}}" required>
        </label>
        <!-- <label for="bank">
            Banco o Institución Destinatario:
            <select name="bank_id" selected="{{ payout.destination_bank if payout}}">
                {% for id in banks %}
                <option 
                    value="{{ id }}" 
                    {% if payout and payout.destination_bank == id %} 
                        selected 
                    {% else %} 
                        {% if loop.first %}selected {% endif %} 
                    {% endif %}
                > 
                    {{ id }} 
                </option>
                {% endfor %}
            </select>
        </label> -->
        <label for="account_number">
            Cuenta CLABE Destinatario:
            <input type="text" name="account_number" value="{{ payout.destination_account if payout else '123456789'}}" required>
        </label>
        <!-- <label for="account_type">
            Tipo de Cuenta Destinatario:
            <select name="account_type">
                {% for id in account_types %}
                <option 
                    value="{{ id }}" 
                    {% if payout and payout.destination_bank == id %}
                        selected 
                    {% else %} 
                        {% if loop.first %}selected {% endif %} 
                    {% endif %}
                > 
                    {{ id }} 
                </option>
                {% endfor %}
            </select>
        </label> -->
        <input type="hidden" name="account_type" value="clabe">

        <button type="submit">Enviar</button>

    </form>
    <button class="secondary" onclick="history.back()">Volver Atrás</button>
</article>
{% endblock %}